   
h2{
    width: 100%;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: min(max(4vw, 15px),48px);
    font-weight: 600;
    font-style: normal;
    margin-bottom: 0px;
    margin-top: 1px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1; 
    -webkit-box-orient: vertical;
}   


p{
    font-size: min(max(1vw, 10px), 24px);
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: max(2vw, 8px);
    font-weight: 300;
    font-style: normal;
    /*font-size: calc(1.2vh + 7px);*/
    text-align: left;
    width: 100%;
}