:root{
    --ma-border-radius: min(8vw,8vw);
    --ma-border-radius-desktop: min(3vw,3vw);
    --ma-height-dekstop: 50vh;
    --ma-width-ipad: 95%;
    --ma-bg-color: #1f1f1f;
    --ma-thumbnail-bg-color: #444444;
    --ma-blurred-overlay-color: #0f0f0f76;
    --ma-text-color: white;
    --ma-boxShadowMini: none;
    --ma-border: #555555 1px solid;
    --ma-border: none;
}
.lightmode{
    --ma-bg-color: rgb(243, 243, 243);
    --ma-thumbnail-bg-color: #ffffff;
    --ma-blurred-overlay-color: #ffffffb7;
    --ma-text-color: black;
    --ma-border: #cfcfcf 1px solid;
    --ma-border: none;
    --ma-bsmd: 5;
    --ma-boxShadowMini:
        0px calc(-2.6px/var(--ma-bsmd)) calc(4.7px/var(--ma-bsmd)) rgba(255, 255, 255, 0.037),
        0px calc(-7.6px/var(--ma-bsmd)) calc(9.5px/var(--ma-bsmd)) rgba(255, 255, 255, 0.044),
        0px calc(-16.1px/var(--ma-bsmd)) calc(15px/var(--ma-bsmd)) rgba(255, 255, 255, 0.046),
        0px calc(-30.5px/var(--ma-bsmd)) calc(22.4px/var(--ma-bsmd)) rgba(255, 255, 255, 0.048),
        0px calc(-56px/var(--ma-bsmd)) calc(35.8px/var(--ma-bsmd)) rgba(255, 255, 255, 0.054),
        0px calc(-100px/var(--ma-bsmd)) calc(80px/var(--ma-bsmd)) rgba(255, 255, 255, 0.07),
        
        0px calc(2.6px/var(--ma-bsmd)) calc(4.7px/var(--ma-bsmd)) rgba(0, 0, 0, 0.037),
        0px calc(7.6px/var(--ma-bsmd)) calc(9.5px/var(--ma-bsmd)) rgba(0, 0, 0, 0.044),
        0px calc(16.1px/var(--ma-bsmd)) calc(15px/var(--ma-bsmd)) rgba(0, 0, 0, 0.046),
        0px calc(30.5px/var(--ma-bsmd)) calc(22.4px/var(--ma-bsmd)) rgba(0, 0, 0, 0.048),
        0px calc(56px/var(--ma-bsmd)) calc(35.8px/var(--ma-bsmd)) rgba(0, 0, 0, 0.054),
        0px calc(100px/var(--ma-bsmd)) calc(80px/var(--ma-bsmd)) rgba(0, 0, 0, 0.07);
}

.share-button-pressed{
    animation: 0.2s ease-in-out 0s buttonPress;
}
#ma-blurred-bg-overlay{
    width: 100%;
    height: 100%;
    background-color: var(--ma-blurred-overlay-color);
}
#ma-blurred-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(15px);
    background-color: var(--ma-bg-color);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.main-article{
    position: relative;
    width: 100%;
    border: var(--ma-border);
    border-top: none !important;
}
.main-thumbnail{
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 0 0 10vw 10vw;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: var(--ma-boxShadowMini);
    background-color: var(--ma-thumbnail-bg-color);
}
.WV-button-mobile{
    display: flex;
    width: fit-content;
    margin-inline: auto;
    background-color: white;
    padding: 2vw;
    border-radius: 10vw;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    box-shadow: var(--ma-boxShadowMini);
}
.WV-button-mobile-play-icon{
    display: inline;
    width: 9vw;
    margin: auto;
    padding-inline: 0.5vw;
}
.WV-button-mobile-text{
    display: inline;
    color: black;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: max(4.5vw, 15px);
    font-weight: 600;
    margin-inline: 4vw;
    letter-spacing: 0.15vw;
    margin-top: auto;
    margin-bottom: auto;
    font-style: normal;
    text-align: center;
    white-space: nowrap;
}
.main-article-share-button{
    width: 60%;
    margin-inline: auto;
    margin: auto;
    background-color: black;
    border-radius: 100%;
    box-shadow: var(--ma-boxShadowMini);
}
.main-article-title{
    margin-top: 0;
}

/* at 1:1 mobile vertical stack */
@media (max-aspect-ratio: 1/1) {
    .main-article{
        border: none !important;
    }
    .lightmode{
        --ma-bsmd: 7 !important;
    }
    .main-article-title{
        width: 100%;
        color: var(--ma-text-color);
        font-family: neue-haas-grotesk-display, sans-serif;
        font-size: max(4vw, 15px);
        font-weight: 600;
        font-style: normal;
        margin-bottom: 0px;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        margin-top: 0;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2; 
        -webkit-box-orient: vertical;
    }
    .main-article-author{
        color: var(--ma-text-color);
        font-family: neue-haas-grotesk-display, sans-serif;
        font-size: max(3.5vw, 13px);
        font-weight: 300;
        font-style: normal;
        /*font-size: calc(1.2vh + 7px);*/
        margin-top: 5px;
        margin-bottom: 3px;
        text-align: left;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        line-clamp: 1; 
        -webkit-box-orient: vertical;
    }
    #ma-blurred-bg{
        display: none;
    }
    .main-article-desktop-button-container{
        display: none;
    }
    .WV-button-desktop{
        display: none;
    }
    .share-button-desktop-container{
        display: none;
    }
    .main-article-desc{
        position: relative;
        margin: auto;
        margin-top: 10vw;
        margin-bottom: 10vw;
        width: 90%;
        display: grid;
        grid-template-columns: 85% 15%;
    }
}
/* at >1 : 1 Ipad view */
@media (min-aspect-ratio: 1/1) {
    .main-article{
        position: relative;
        height: auto;
        overflow: hidden;
        border-radius: 0 0 var(--ma-border-radius-desktop) var(--ma-border-radius-desktop);
        display: grid;
        grid-template-rows: auto auto;
        align-items: flex-start;
    }
    .main-article-title{
        font-size: max(1.6vw, 8px);
        letter-spacing: 0.03vh;
        width: 100%;
        color: var(--ma-text-color);
        font-family: neue-haas-grotesk-display, sans-serif;
        font-weight: 600;
        font-style: normal;
        margin-top: 5px;
        margin-bottom: 0px;
        text-align: left;
         
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2; 
        -webkit-box-orient: vertical;
    }
    .main-article-author{
        font-size: max(1vw, 8px);
        letter-spacing: 0.03vh;
        font-family: neue-haas-grotesk-display, sans-serif;
        color: var(--ma-text-color);
        margin-top: 3px !important;
        font-weight: 300;
        font-style: normal;
        /*font-size: calc(1.2vh + 7px);*/
        margin-top: 3px;
        margin-bottom: 3px;
        text-align: left;
         
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        line-clamp: 1; 
        -webkit-box-orient: vertical;
    }
    .main-thumbnail{
        margin-top: calc(0.07 * var(--ma-height-dekstop));
        margin-left: calc( (100% - var(--ma-width-ipad)) / 2);
        width: var(--ma-width-ipad);
        height: 40vh;
        border-radius: var(--ma-border-radius-desktop);
    }
    .WV-button-mobile{
        display: none;
    }
    .main-article-desc{
        position: relative;
        display: grid;
        grid-template-columns: auto auto;
        align-items: flex-start;
        height: auto;
        width: fit-content;
        margin-inline: 2vw;
        width: calc( var(--ma-width-ipad) - 4% );
        margin-left: calc( (100% - var(--ma-width-ipad)) / 2 + 2%);
        margin-top: 1vh;
        margin-bottom: 1vh;
    }.main-article-share-button{
        display: none;
        box-shadow: var(--ma-boxShadowMini);
    }
    .main-article-desktop-button-container{
        position: relative;
        bottom: 0;
        width: auto;
        margin: auto;
        margin-right: 0;
        display: flex;
        flex-direction: row;
    }
    .WV-button-desktop{
        display: flex;
        width: fit-content;
        margin-inline: auto;
        background-color: white;
        padding: 1vh;
        border-radius: 10vh;
        box-shadow: var(--ma-boxShadowMini);
    }
    .WV-button-desktop-play-icon{
        display: inline;
        height: 5vh;
        margin: auto;
    }
    .WV-button-desktop-text{
        display: inline;
        color: black;
        font-family: neue-haas-grotesk-display, sans-serif;
        font-size: max(3vh, 8px);
        font-weight: 600;
        margin-inline: 2vh;
        letter-spacing: 0.05vh;
        margin-top: auto;
        margin-bottom: auto;
        font-style: normal;
        text-align: center;
        white-space: nowrap;
    }
}
@media (min-aspect-ratio: 3/2) {
    .articles-container{
        position: relative;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-inline: auto;
    }
    .main-article{
        height: var(--ma-height-dekstop);
        overflow: hidden;
        border-radius: 0 0 var(--ma-border-radius-desktop) var(--ma-border-radius-desktop);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .main-thumbnail{
        margin-top: calc(0.07 * var(--ma-height-dekstop));
        margin-left: 2vw;
        height: calc(0.86 * var(--ma-height-dekstop));
        width: calc((0.86 * var(--ma-height-dekstop) * 16)/9);
        border-radius: var(--ma-border-radius-desktop);
    }
    .main-article-desc{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: calc( 0.25 * var(--ma-height-dekstop));
        height: calc( 0.6 * var(--ma-height-dekstop));
        width: 100%;
        margin-inline: 2vw;
    }
    .main-article-desktop-button-container{
        position: absolute;
        bottom: 0;
        width: auto;
        margin: auto;
        margin-left: 0;
        display: flex;
        flex-direction: row;
        margin-top: calc( 0.22 * var(--ma-height-dekstop));
        height: calc( 0.15 * var(--ma-height-dekstop));
    }
    .WV-button-desktop{
        display: flex;
        width: fit-content;
        margin-inline: auto;
        background-color: white;
        padding: 1vh;
        border-radius: 10vh;
    }
    .WV-button-desktop-play-icon{
        display: inline;
        height: 5vh;
        margin: auto;
    }
    .WV-button-desktop-text{
        display: inline;
        color: black;
        font-family: neue-haas-grotesk-display, sans-serif;
        font-size: max(3vh, 8px);
        font-weight: 600;
        margin-inline: 2vh;
        letter-spacing: 0.05vh;
        margin-top: auto;
        margin-bottom: auto;
        font-style: normal;
        text-align: center;
        white-space: nowrap;
    }
    .share-button-desktop-container{
        position: relative;
        width: 7.5vh;
        height: 7.5vh;
        border-radius: 100%;
        background-color: white;
        margin-left: 0.75vw;
        box-shadow: var(--ma-boxShadowMini);
    }
    .main-article-share-button-desktop{
        position: relative;
        width: 80%;
        height: 80%;
        margin: 10%;
    }
}