body{
    background: gray;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 100%;
    margin: 0;
    display: flex;
    width: fit-content;
    flex-direction: row;
}
.panel-container{
    width: auto;
    display: block;
    gap: 0;
}
.panel{
    width: 100px;
    height: 100vh;
    min-width: 250px;
    max-width: 900px;
    background: black; 
    color: white;
    border-right: 1px solid gray;
}
.resizable {
    resize: horizontal;
    overflow-y: overlay;
    overflow-x: hidden;
}