:root {
    --e-BG: rgb(35, 35, 35);
    --e-border: black;
    --e-text: var(--text-color);
    --p1: 12vh;
    --p2: 30vh;
    --p3: 60vh;
    --editor-hover: rgb(66, 66, 66);
    --editor-selected: gray;
    --panel-min-width: 40vh;
    --panel-max-width: 110vh;
}
.lightmode{
    --e-BG: rgb(230, 230, 230);
    --e-border: rgb(255, 255, 255);
    --editor-hover: rgb(217, 217, 217);
    --editor-selected: rgb(255, 255, 255);
}

#publication-preview{
    --panel-min-width: 50vh;
    --panel-max-width: 100vw !important;
}
#publication-info{
    --panel-min-width: 50vh;
    --panel-max-width: 70vh;
}

body{
    background: black;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 100%;
    margin: 0;
    display: flex;
    width: fit-content;
    flex-direction: row;
}
.panel-container{
    width: auto;
    display: block;
    gap: 0;
}
.panel{
    position: relative;
    height: 100vh;
    min-width: var(--panel-min-width);
    max-width: var(--panel-max-width);
    background: var(--e-BG); 
    color: var(--e-text);
    border-right: 2px solid var(--e-border);
}
.resizable {
    resize: horizontal;
    overflow-y: overlay;
    overflow-x: hidden;
}
.p-title{
    color: var(--text-color);
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: max(4.5vh, 8px);
    margin-top: 1px;
    font-weight: 700;
    font-style: italic;
    /*font-size: calc(1.2vh + 7px);*/
    text-align: left;
    margin: 3vh;
}

.p-expand{
    position: absolute;
    top: 3.5vh;
    right: 3vh;
    width: 5vh;
    height: 5vh;
    border-radius: 1vh;
    background-color: var(--e-BG);
}
.p-expand:hover{
    background: var(--editor-hover);
}
.p-toolbar{
    position: relative;
    margin-inline: 5%;
    width: 90%;
    height: 4vh;
    margin-top: 1.5vh;
    display: flex;
    gap: 2vh;
}
.p-toolbar-icon{
    width: 4vh;
    height: 4vh;
}
.p-toolbar-icon-right{
    margin-left: auto;
}

.p-table{
    position: relative;
    padding-left: 3vh;
    padding-right: 3vh;
    margin-inline: auto;
    width: calc(100%-6vh);
    overflow: scroll !important;
}
.p-table-header{
    width: calc(var(--p1) + var(--p2) + var(--p3));
    margin-top: 4vh;
    padding-bottom: 1vh;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
}
.p-table-cell{
    width: calc(var(--p1) + var(--p2) + var(--p3));
    position: relative;
    display: flex;
    flex-direction: row;
    height: 9vh;
    border-radius: 1vh;
}
.p-table-cell:hover{
    background: var(--editor-hover);
}
.p-selected{
    background: var(--editor-selected);
}
.p-selected:hover{
    background: var(--editor-selected);
}
.p-table-header-txt{
    color: var(--text-color);
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: max(3.5vh, 8px) !important;
    letter-spacing: 0.1vh;
    margin-top: 1px;
    font-weight: 500;
    text-align: left;
    margin: 0;
}
.p-text{
    display: flex;
    align-items: center;
    justify-content: left;
    color: var(--text-color);
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: max(2.4vh, 8px);
    font-weight: 500;
    letter-spacing: 0.06vh;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.p-1{
    width: calc(var(--p1)*0.35);
    margin-left: calc(var(--p1)*0.1);
    margin-right: calc(var(--p1)*0.25);
}
.p-2{
    width: var(--p2);
}
.p-3{
    width: var(--p3);
}
.menu-item{
    position: relative;
    display: flex;
    width: 90%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    max-height: 8%;
    background-color: var(--window-item-BGcolor);
    border-radius: 1rem;
    padding-inline: 2.5%;
    margin-inline: 2.5%;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    margin-top: 0.5rem;
    vertical-align: center;
    opacity: 1;
    border: var(--window-border);
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: max(2.4vh, 8px);
    font-weight: 500;
}
.menu-item:hover{
    background: var(--editor-hover);
}
.menu-item-icon {
    margin-right: 2vh;
    width: 12vh;
}
.editor-menu-text{
    display: flex;
    align-items: center;
    justify-content: left;
    color: var(--text-color);
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: max(2.4vh, 8px);
    font-weight: 500;
    letter-spacing: 0.06vh;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.menu-item-icon{
    width: 5vh;
}
.editor-text{
    display: flex;
    align-items: center;
    justify-content: left;
    color: var(--text-color);
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: max(2.4vh, 8px);
    font-weight: 500;
    letter-spacing: 0.06vh;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2; 
    -webkit-box-orient: vertical;
    margin-left: 3vh;
    margin-top: 1.5vh;
    margin-bottom: 0.7vh;
}
.editor-img{
    width: 94%;
    margin-inline: 3%;
    aspect-ratio: 16/9;
    border-radius: 4vh;
    border: var(--border);
    background: var(--window-item-BGcolor);
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    transition: all 0.2s ease-in-out;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: max(2.4vh, 8px);
}
.editor-btn-text{
    justify-content: center;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.editor-img:hover{
    color: var(--text-color);
    background: var(--border-color);
    transition: all 0.2s ease-in-out;
}
.editor-spacer{
    width: 100%;
    height: 2vh;
}
.hover-red:hover{
    background: var(--red2);
    border: 1px solid var(--red1);
    color: var(--red1) !important;
}


.panel-toggle-button{
    position: relative;
    display: flex;
    width: 90%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    max-height: 8%;
    background-color: var(--window-item-BGcolor);
    border-radius: 1rem;
    padding-inline: 2.5%;
    margin-inline: 2.5%;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    margin-top: 0.5rem;
    vertical-align: center;
    opacity: 1;
    border: var(--window-border);
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: max(2.4vh, 8px);
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}
.panel-toggle-button-enabled{
    width: 80%;
    border-radius: 1rem 0 0 1rem;
    margin-right: 0;
    margin-left: auto;
    background-color: var(--editor-selected);
    border: 0px;
    transition: all 0.2s ease-in-out;
}




.switch {
    position: relative;
    display: inline-block;
    height: 4vh;
    width: 7vh;
    margin-left: auto;
    margin-right: 0;
}
.switch-hidden{
    width: 0px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 3vh;
    width: 3vh;
    /* left: 4px;
    bottom: 4px; */
    left: calc(var(--sm-width) * 0.011);
    top: 50%;
    transform: translateX(0.5vh) translateY(-50%);
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
} 
input:checked + .slider {
    background-color: #09bf49;
}
input:checked + .slider:before {
    -webkit-transform: translateX(3.5vh) translateY(-50%);
    -ms-transform: translateX(3.5vh) translateY(-50%);
    transform: translateX(3.5vh) translateY(-50%);
    top: 50%;
}
.slider.round {
    border-radius: 10vh;
}
.slider.round:before {
    border-radius: 50%;
}


input{
    position: relative;
    margin-inline: 3%;
    padding-left: 1vh;
    width: 94%;
    border: var(--border);
    background: var(--window-item-BGcolor);
    border-radius: 1vh;
    font-family: neue-haas-grotesk-display, sans-serif;
    text-indent: calc( var(--search-bar-height) / 2);
    font-size: max(2vh, 10px);
    font-weight: 400;
    letter-spacing: 0.1vh;
    color: var(--text-color);
    height: 5vh;
    /* box-shadow: var(--box-shadow); */
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
}
input:focus{
    outline: none;
}

textarea{
    position: relative;
    margin-inline: 3%;
    padding-left: 1vh;
    resize: vertical;
    max-height: 20vh;
    min-height: 15vh;
    width: 94%;
    border: var(--border);
    background: var(--window-item-BGcolor);
    border-radius: 1vh;
    font-family: neue-haas-grotesk-display, sans-serif;
    text-indent: calc( var(--search-bar-height) / 2);
    font-size: max(2vh, 10px);
    font-weight: 400;
    letter-spacing: 0.1vh;
    color: var(--text-color);
    height: 5vh;
    /* box-shadow: var(--box-shadow); */
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
}
iframe{
  width: 100%;
  height: calc(100% - 11vh);
  overflow-x: hidden;
}