:root{
    --border-radius: min(8vw,8vw);
    --border-radius-desktop: min(3vw,3vw);
    --bgColor: #0f0f0f;
    --main-article-height-dekstop: 50vh;
    --main-article-width-ipad: 95%;
}
.lightmode{
    background-color: rgb(230,230,230);
}
body{
    margin: 0;
    background-color: var(--background-color);
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}
/* h2{
    width: 100%;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: max(4vw, 15px);
    font-weight: 600;
    font-style: normal;
    margin-bottom: 0px;
    text-align: left;
     
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2; 
    -webkit-box-orient: vertical;
    color: white;
}   
h3{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: max(3.5vw, 13px);
    font-weight: 300;
    font-style: normal;
    margin-top: 5px;
    margin-bottom: 3px;
    text-align: left;
     
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    line-clamp: 1; 
    -webkit-box-orient: vertical;
    color: white;
} */

a {
    text-decoration: none !important;
}
a:link {
    text-decoration: none !important;
}
a:visited {
    text-decoration: none !important;
}
a:hover {
    text-decoration: none !important;
}
a:active { 
    text-decoration: none !important;
}
a:-webkit-any-link { 
    text-decoration: none !important;
}
@keyframes buttonPress{
    0%{
        scale: 1;
    }
    50%{
        scale: 0.5;
    }
    100%{
        scale: 1;
    }
}
#spacer{
    width: 100%;
    height: 15vh;
}
#pageContent{
    position: relative;
}

/* at 1:1 mobile vertical stack */
@media (max-aspect-ratio: 1/1) {
    #blurred-bg{
        display: none;
    }
}

/* at >1 : 1 Ipad view */
@media (min-aspect-ratio: 1/1) {
    /* .main-article{
        position: relative;
        height: auto;
        overflow: hidden;
        border-radius: 0 0 var(--border-radius-desktop) var(--border-radius-desktop);
        display: grid;
        grid-template-rows: auto auto;
        align-items: flex-start;
    }
    .main-thumbnail{
        margin-top: calc(0.07 * var(--main-article-height-dekstop));
        margin-left: calc( (100% - var(--main-article-width-ipad)) / 2);
        width: var(--main-article-width-ipad);
        height: 40vh;
        border-radius: var(--border-radius-desktop);
    }
    .WV-button-mobile{
        display: none;
    }
    .main-article-desc{
        position: relative;
        display: grid;
        grid-template-columns: auto auto;
        align-items: flex-start;
        height: auto;
        width: fit-content;
        margin-inline: 2vw;
        width: calc( var(--main-article-width-ipad) - 4% );
        margin-left: calc( (100% - var(--main-article-width-ipad)) / 2 + 2%);
        margin-top: 1vh;
        margin-bottom: 1vh;
    } */
    h2{
        font-size: max(1.7vw, 15px);
        color: white;
        align-items: flex-start;
    }
    h3{
        margin-top: 2vh;
        font-size: max(1.2vw, 13px);
        color: white;
    }
    /* .main-article-share-button{
        display: none;
    }
    .main-article-desktop-button-container{
        position: relative;
        bottom: 0;
        width: auto;
        margin: auto;
        margin-right: 0;
        display: flex;
        flex-direction: row;
    }
    .WV-button-desktop{
        display: flex;
        width: fit-content;
        margin-inline: auto;
        background-color: white;
        padding: 1vh;
        border-radius: 10vh;
    }
    .WV-button-desktop-play-icon{
        display: inline;
        height: 5vh;
        margin: auto;
    }
    .WV-button-desktop-text{
        display: inline;
        color: black;
        font-family: neue-haas-grotesk-display, sans-serif;
        font-size: max(3vh, 8px);
        font-weight: 600;
        margin-inline: 2vh;
        letter-spacing: 0.05vh;
        margin-top: auto;
        margin-bottom: auto;
        font-style: normal;
        text-align: center;
        white-space: nowrap;
    }
    .share-button-desktop-container{
        position: relative;
        width: 7.5vh;
        height: 7.5vh;
        border-radius: 100%;
        background-color: white;
        margin-left: 0.75vw;
    }
    .main-article-share-button-desktop{
        position: relative;
        width: 80%;
        height: 80%;
        margin: 10%;
    } */
    .articles-container{
        position: relative;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-inline: auto;
    }
}
@media (min-aspect-ratio: 3/2) {
    .articles-container{
        position: relative;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-inline: auto;
    }
    /* .main-article{
        height: var(--main-article-height-dekstop);
        overflow: hidden;
        border-radius: 0 0 var(--border-radius-desktop) var(--border-radius-desktop);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .main-thumbnail{
        margin-top: calc(0.07 * var(--main-article-height-dekstop));
        margin-left: 2vw;
        height: calc(0.86 * var(--main-article-height-dekstop));
        width: calc((0.86 * var(--main-article-height-dekstop) * 16)/9);
        border-radius: var(--border-radius-desktop);
    }
    .main-article-desc{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: calc( 0.25 * var(--main-article-height-dekstop));
        height: calc( 0.6 * var(--main-article-height-dekstop));
        width: 100%;
        margin-inline: 2vw;
    }
    .main-article-desktop-button-container{
        position: absolute;
        bottom: 0;
        width: auto;
        margin: auto;
        margin-left: 0;
        display: flex;
        flex-direction: row;
        margin-top: calc( 0.22 * var(--main-article-height-dekstop));
        height: calc( 0.15 * var(--main-article-height-dekstop));
    }
    .WV-button-desktop{
        display: flex;
        width: fit-content;
        margin-inline: auto;
        background-color: white;
        padding: 1vh;
        border-radius: 10vh;
    }
    .WV-button-desktop-play-icon{
        display: inline;
        height: 5vh;
        margin: auto;
    }
    .WV-button-desktop-text{
        display: inline;
        color: black;
        font-family: neue-haas-grotesk-display, sans-serif;
        font-size: max(3vh, 8px);
        font-weight: 600;
        margin-inline: 2vh;
        letter-spacing: 0.05vh;
        margin-top: auto;
        margin-bottom: auto;
        font-style: normal;
        text-align: center;
        white-space: nowrap;
    }
    .share-button-desktop-container{
        position: relative;
        width: 7.5vh;
        height: 7.5vh;
        border-radius: 100%;
        background-color: white;
        margin-left: 0.75vw;
    }
    .main-article-share-button-desktop{
        position: relative;
        width: 80%;
        height: 80%;
        margin: 10%;
    } */
}
@media (min-aspect-ratio: 5/2) {
    .articles-container{
        position: relative;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-inline: auto;
    }
}