:root{
    --sm-width: calc(var(--tab-bar-dekstop-width)*2);
    --sm-min-width: 360px;

    --sm-height: 55vh;
    --sm-min-height: 250px;
    --sm-footer-height: max(4rem, 10.5vh);
    
    --sm-border-radius: min(3vw,3vw) min(3vw,3vw) min(3vw,3vw) 0;
    --sm-border-radius: min(3vw,3vw);
    --sm-zindex: 1000;
    --sm-shadow: 0 0 50px black;
    --sm-anim-speed: 0.3s;
    --sm-inner-anim-speed: 0.2s;
    
    --sm-admin-color: rgb(181, 54, 54);
    --sm-admin-bgcolor: rgba(81, 41, 41, 0.432);

}
.lightmode{
    --sm-admin-color: rgb(255, 68, 68);
    --sm-admin-bgcolor: rgba(226, 165, 165, 0.432);
}

.sm-fill{
    fill: white;
}
.lightmode .sm-fill{
    fill: black;
}

#settings-container{
    width: var(--sm-width);
    min-width: var(--sm-min-width);
    height: var(--sm-height);
    min-height: var(--sm-min-height);

    position: fixed;
    display: grid;
    grid-template-rows: calc(1.8rem + var(--sm-width) * 0.1) auto var(--sm-footer-height);
    bottom: 4.1vh;
    left: var(--tab-bar-dekstop-width);
    height: 70vh;

    background: rgb(0, 0, 0);
    background: var(--window-BG);

    z-index: var(--sm-zindex);
    border-radius: var(--sm-border-radius);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    transition: min-width var(--sm-anim-speed) ease-out, width var(--sm-anim-speed) ease-out;

    border: var(--window-border);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
}
.sm-hidden{
    width: 0px !important;
    min-width: 0px !important;
    min-height: 0px !important;
    border: none !important;
    transition: min-width var(--sm-anim-speed) ease-in, width var(--sm-anim-speed) ease-in;
}

.sm-invis{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: calc(var(--sm-zindex) -1);
}
#sm-cross-icon{
    position: relative;
    width: 100%;
    height: 100%;
}
.sm-cross-icon-container{
    position: relative;
    width: 8%;
    height: fit-content;
    margin: auto;
    margin-top: 1rem;
    margin-left: 85%;
}
#sm-footer{
    position: relative;
    margin: auto;
    margin-top: auto;
    display: flex;
    margin-bottom: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    overflow: hidden;
    background-color: var(--window-footer-BGcolor);
    border-top: var(--window-border);
    transition: height var(--sm-anim-speed) ease-in, opacity var(--sm-anim-speed) ease-in;
}
.sm-footer-hidden{
    height: 0% !important;
    opacity: 0 !important;
    transition: height var(--sm-anim-speed) ease-in, opacity var(--sm-anim-speed) ease-in;
}
#sm-signin-btn{
    font-family: neue-haas-grotesk-display, sans-serif;
    color: black;
    font-size: max(1.25rem, 3vh);
    font-weight: 600;
    display: flex;
    width: fit-content;
    margin: auto;
    background-color: white;
    padding: 0.5rem 15% 0.5rem 15%;
    border-radius: 10vh;
    -webkit-box-orient: vertical;
    line-height: 1.5;
}
.lightmode #sm-signin-btn{
    box-shadow: var(--box-shadow);
}

.sm-menu-container{
    position: relative;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.menu-item{
    position: relative;
    display: flex;
    width: 90%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    max-height: 8%;
    background-color: var(--window-item-BGcolor);
    border-radius: 1rem;
    padding-inline: 2.5%;
    margin-inline: 2.5%;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    margin-top: 0.5rem;
    vertical-align: center;
    opacity: 1;
    border: var(--window-border);
    transition: width var(--sm-inner-anim-speed) ease-in, opacity calc(var(--sm-inner-anim-speed)/1.2) ease-in;
}
.menu-item-hidden{
    position: relative;
    width: 0%;
    font-size: 0px !important;
    opacity: 0;
    transition: width var(--sm-inner-anim-speed) ease-in, opacity calc(var(--sm-inner-anim-speed)/1.2) ease-out;
    overflow: hidden !important;
}

.menu-item-icon{
    width: 10%;
    aspect-ratio: 1/1;
}
.sm-text{
    position: absolute;
    width: calc(80% - 1rem);
    /* height: 65%; */
    display: inline-block;
    /* margin: auto; */
    margin-left: calc(1rem + 8%);
    margin-right: 0;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-size: calc(0.05 * var(--sm-width));
    font-style: normal;
    color: var(--tab-bar-desktop-text-color);
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1; 
    overflow: hidden;
    vertical-align: middle;
    transition: font-size var(--sm-inner-anim-speed) ease-in;
}
.sm-text-hidden {
    font-size: 0;
    transition: font-size var(--sm-inner-anim-speed) ease-out;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    width: calc(var(--sm-width) * 0.16);
    height: calc(var(--sm-width) * 0.09);
    margin-left: auto;
    margin-right: 0;
}
.switch-hidden{
    width: 0px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    width: calc(var(--sm-width) * 0.07);
    height: calc(var(--sm-width) * 0.07);
    /* left: 4px;
    bottom: 4px; */
    left: calc(var(--sm-width) * 0.011);
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
} 
input:checked + .slider {
    background-color: #09bf49;
}
input:checked + .slider:before {
    /* -webkit-transform: translateX( calc( var(--sm-width) * 0.16 - 8.5 *  var(--sm-width) * 0.011));
    -ms-transform: translateX( calc( var(--sm-width) * 0.16 - 8.5 *  var(--sm-width) * 0.011));
    transform: translateX( calc( var(--sm-width) * 0.16 - 8.5 *  var(--sm-width) * 0.011)); */

    -webkit-transform: translateX( calc( var(--sm-width) * 0.16 - 8.5 *  var(--sm-width) * 0.011)) translateY(-50%);
    -ms-transform: translateX( calc( var(--sm-width) * 0.16 - 8.5 *  var(--sm-width) * 0.011)) translateY(-50%);
    transform: translateX( calc( var(--sm-width) * 0.16 - 8.5 *  var(--sm-width) * 0.011)) translateY(-50%);
    top: 50%;
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

.sm-admin-txt{
    width: fit-content !important;
    margin-left: 2%;
}
.admin-menu-item:hover{
    border: 1px solid var(--sm-admin-color);
    background: var(--sm-admin-bgcolor);
}
.admin-menu-item:hover .sm-admin-txt{
    color: var(--sm-admin-color);
}
.admin-menu-item:hover .admin-icon{
    fill: var(--sm-admin-color) !important;
}

/* at 1:1 mobile vertical stack */
@media (max-aspect-ratio: 1/1) {
    #settings-container{
        display: none !important;
    }
}