:root{
    --sm-width: calc(var(--tab-bar-dekstop-width)*2);
    --sm-min-width: 360px;

    --sm-height: 55vh;
    --sm-min-height: 250px;
    --sm-footer-height: max(4rem, 7.5vh);
    
    --sm-border-radius: min(3vw,3vw) min(3vw,3vw) min(3vw,3vw) 0;
    --sm-border-radius: min(3vw,3vw);
    --sm-zindex: 1000;
    --sm-bg-color: #1b1b1b;
    --sm-menu-item-BGcolor: #444444;
    --sm-shadow: 0 0 50px black;
    --sm-anim-speed: 0.3s;
    --sm-inner-anim-speed: 0.2s;
}
.lightmode{
    --sm-bg-color: rgb(243, 243, 243);
    --sm-menu-item-BGcolor: #fff;
    --sm-bmsd: 2;
    --sm-shadow:
        0px calc(-2.6px/var(--sm-bmsd)) calc(4.7px/var(--sm-bmsd)) rgba(255, 255, 255, 0.037),
        0px calc(-7.6px/var(--sm-bmsd)) calc(9.5px/var(--sm-bmsd)) rgba(255, 255, 255, 0.044),
        0px calc(-16.1px/var(--sm-bmsd)) calc(15px/var(--sm-bmsd)) rgba(255, 255, 255, 0.046),
        0px calc(-30.5px/var(--sm-bmsd)) calc(22.4px/var(--sm-bmsd)) rgba(255, 255, 255, 0.048),
        0px calc(-56px/var(--sm-bmsd)) calc(35.8px/var(--sm-bmsd)) rgba(255, 255, 255, 0.054),
        0px calc(-100px/var(--sm-bmsd)) calc(80px/var(--sm-bmsd)) rgba(255, 255, 255, 0.07),
        
        0px calc(2.6px/var(--sm-bmsd)) calc(4.7px/var(--sm-bmsd)) rgba(0, 0, 0, 0.037),
        0px calc(7.6px/var(--sm-bmsd)) calc(9.5px/var(--sm-bmsd)) rgba(0, 0, 0, 0.044),
        0px calc(16.1px/var(--sm-bmsd)) calc(15px/var(--sm-bmsd)) rgba(0, 0, 0, 0.046),
        0px calc(30.5px/var(--sm-bmsd)) calc(22.4px/var(--sm-bmsd)) rgba(0, 0, 0, 0.048),
        0px calc(56px/var(--sm-bmsd)) calc(35.8px/var(--sm-bmsd)) rgba(0, 0, 0, 0.054),
        0px calc(100px/var(--sm-bmsd)) calc(80px/var(--sm-bmsd)) rgba(0, 0, 0, 0.07);
}

.sm-fill{
    fill: white;
}
.lightmode .sm-fill{
    fill: black;
}

#settings-container{
    width: var(--sm-width);
    min-width: var(--sm-min-width);
    height: var(--sm-height);
    min-height: var(--sm-min-height);
    position: fixed;
    display: grid;
    grid-template-rows: calc(1.8rem + var(--sm-width) * 0.1) auto var(--sm-footer-height);
    bottom: 4.1vh;
    left: var(--tab-bar-dekstop-width);
    height: 70vh;
    background-color: var(--sm-bg-color);
    z-index: var(--sm-zindex);
    border-radius: var(--sm-border-radius);
    box-shadow: var(--sm-shadow);
    overflow: hidden;
    transition: min-width var(--sm-anim-speed) ease-out, width var(--sm-anim-speed) ease-out;
}
.sm-hidden{
    width: 0px !important;
    min-width: 0px !important;
    min-height: 0px !important;
    transition: min-width var(--sm-anim-speed) ease-in, width var(--sm-anim-speed) ease-in;
}



.sm-invis{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: calc(var(--sm-zindex) -1);
}
#sm-cross-icon{
    position: relative;
    width: 100%;
    height: 100%;
}
.sm-cross-icon-container{
    position: relative;
    width: 10%;
    height: fit-content;
    margin: auto;
    margin-top: 1rem;
    margin-left: 82%;
}
#sm-footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: var(--sm-menu-item-BGcolor);
}
#sm-signin-btn{
    display: flex;
    width: fit-content;
    margin-inline: auto;
    background-color: white;
    padding: 0.5rem 15% 0.5rem 15%;
    border-radius: 10vh;
    color: black;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: max(1.25rem, 3vh);
    font-weight: 600;
    letter-spacing: 0.05vh;
    font-style: normal;
    text-align: center;
    white-space: nowrap;
    transform: translate(0, 25%);
}
.lightmode #sm-signin-btn{
    box-shadow: var(--sm-shadow);
}

.sm-menu-container{
    position: relative;
    width: 100%;
    overflow: auto;
}
.menu-item{
    position: relative;
    width: 90%;
    height: fit-content;
    background-color: var(--sm-menu-item-BGcolor);
    display: flex;
    border-radius: 1rem;
    padding-inline: 2.5%;
    margin-inline: 2.5%;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    margin-top: 0.5rem;
    vertical-align: center;
    opacity: 1;
    transition: width var(--sm-inner-anim-speed) ease-in, opacity calc(var(--sm-inner-anim-speed)/1.2) ease-in;
}
.menu-item-hidden{
    position: relative; 
    width: 0%;
    font-size: 0px !important;
    opacity: 0;
    transition: width var(--sm-inner-anim-speed) ease-in, opacity calc(var(--sm-inner-anim-speed)/1.2) ease-out;
    overflow: hidden !important;
}

.menu-item-icon{
    width: 10%;
    aspect-ratio: 1/1;
}
.sm-text{
    position: relative;
    margin: auto;
    margin-left: 1rem;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-size: calc(0.06 * var(--sm-width));
    font-style: normal;
    color: var(--tab-bar-desktop-text-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1; 
}



.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: auto;
    margin-right: 0;
}
.switch-hidden{
    width: 0px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
} 
input:checked + .slider {
    background-color: #09bf49;
}
input:focus + .slider {
    box-shadow: 0 0 1px #09bf49;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

/* at 1:1 mobile vertical stack */
@media (max-aspect-ratio: 1/1) {
    #settings-container{
        display: none !important;
    }
}