h3{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: calc(1.2vh + 16px - 9px);
    margin: 0;
    text-align: right;
}


.vid{
    position: relative;
    background: #262626;
    background-position: left;
    background-repeat: no-repeat;
    border-radius: 20px;
    width: 100%;
    /*height: 100%;*/
    aspect-ratio: 16/9;
    margin: auto;
    overflow: hidden;
}
.thumbnail{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}