* {
    --position: relative;
    --background-color: #262626;
    --border-radius: 1vw; /*20 px orignally*/
    --background-position: left;
    --background-repeat: no-repeat;
    --width: 100%;
    --aspect-ratio: 16/9;
    --margin: auto;
    --overflow: hidden;
}

h3{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-style: normal;
    /*font-size: calc(1.2vh + 7px);*/
    font-size: max(12px, 1.3vw);
    margin: 0;
    text-align: left;
}
h4{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    /*font-size: calc(1.1vh + 6px);*/
    font-size: max(11px, 1.2vw);
    margin: 0;
    text-align: left;
}
h5{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    /*font-size: calc(0.9vh + 5px);*/
    font-size: max(10px, 1.1vw);
    margin: 0;
    text-align: left;
}
h6{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 300;
    font-style: normal;
    /*font-size: calc(0.9vh + 5px);*/
    font-size: max(8px, 1vw);
    margin: 0;
    text-align: center;
}
.tagContainer{
    width: 80%;
    height: auto;
}
.tag{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
}
.thumbnail{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: contrast(1);
    object-fit: cover;
    transition: all 0.15s ease-in-out;
}
.thumbnail:hover{
    filter: contrast(1.1) !important;
    transition: all 0.15s ease-in-out;
}
.centered-icon{
    position: absolute;
    height: calc(2vh + 20%);
    aspect-ratio: 1/1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video-icon-container{
    position: var(--position);
    background: var(--background-color);
    background-position: var(--background-position);
    background-repeat: var(--background-repeat);
    border-radius: var(--border-radius);
    width: var(--width);
    /*height: 100%;*/
    aspect-ratio: var(--aspect-ratio);
    margin: var(--margin);
    overflow: var(--overflow);
}
.video-icon-container:hover{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    transform: translate(0, -0.75vh);
    filter: drop-shadow(0px 6px 15px rgba(0,0,0,0.23));
    transition: all 0.075s ease-in;
}
.image-icon-container{
    position: var(--position);
    background: var(--background-color);
    background-position: var(--background-position);
    background-repeat: var(--background-repeat);
    border-radius: var(--border-radius);
    width: var(--width);
    /*height: 100%;*/
    aspect-ratio: var(--aspect-ratio);
    margin: var(--margin);
    overflow: var(--overflow);
}
.image-icon-container:hover{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    transform: translate(0, -0.75vh);
    filter: drop-shadow(0px 6px 15px rgba(0,0,0,0.23));
    transition: all 0.075s ease-in;
}
.audio-icon-container{
    position: var(--position);
    background: var(--background-color);
    background-position: var(--background-position);
    background-repeat: var(--background-repeat);
    border-radius: var(--border-radius);
    width: var(--width);
    /*height: 100%;*/
    aspect-ratio: var(--aspect-ratio);
    margin: var(--margin);
    overflow: var(--overflow);
}
.audio-icon-container:hover{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    transform: translate(0, -0.75vh);
    filter: drop-shadow(0px 6px 15px rgba(0,0,0,0.23));
    transition: all 0.075s ease-in;
}
.text-icon-container{
    position: var(--position);
    background: var(--background-color);
    background-position: var(--background-position);
    background-repeat: var(--background-repeat);
    border-radius: var(--border-radius);
    width: var(--width);
    /*height: 100%;*/
    aspect-ratio: var(--aspect-ratio);
    margin: var(--margin);
    overflow: var(--overflow);
}
.text-icon-container:hover{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    transform: translate(0, -0.75vh);
    filter: drop-shadow(0px 6px 15px rgba(0,0,0,0.23));
    transition: all 0.075s ease-in;
}
.link-icon-container{
    position: var(--position);
    background: var(--background-color);
    background-position: var(--background-position);
    background-repeat: var(--background-repeat);
    border-radius: var(--border-radius);
    width: var(--width);
    /*height: 100%;*/
    aspect-ratio: var(--aspect-ratio);
    margin: var(--margin);
    overflow: var(--overflow);
}
.link-icon-container:hover{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    transform: translate(0, -0.75vh);
    filter: drop-shadow(0px 6px 15px rgba(0,0,0,0.23));
    transition: all 0.075s ease-in;
}