* {
    --position: relative;
    --background-color: #262626;
    --border-radius: 1vw; /*20 px orignally*/
    --background-position: left;
    --background-repeat: no-repeat;
    --width: 100%;
    --aspect-ratio: 16/9;
    --margin: auto;
    --overflow: hidden;
}
h3{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    text-align: left;
    margin-top: 0.5vh;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2; 
    -webkit-box-orient: vertical;
}
h4{ 
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    text-align: left;
    margin-top: 0.5vh;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1; 
    -webkit-box-orient: vertical;
}
h5{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1; 
    -webkit-box-orient: vertical;
}
.thumbnail{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: contrast(1);
    object-fit: cover;
    transition: all 0.15s ease-in-out;
    object-fit: cover;
}
.centered-icon{
    position: absolute;
    height: calc(2vh + 20%);
    aspect-ratio: 1/1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video-icon-container{
    position: var(--position);
    background: var(--background-color);
    background-position: var(--background-position);
    background-repeat: var(--background-repeat);
    border-radius: var(--border-radius);
    width: var(--width);
    /*height: 100%;*/
    aspect-ratio: var(--aspect-ratio);
    margin: var(--margin);
    overflow: var(--overflow);
}
.image-icon-container{
    position: var(--position);
    background: var(--background-color);
    background-position: var(--background-position);
    background-repeat: var(--background-repeat);
    border-radius: var(--border-radius);
    width: var(--width);
    /*height: 100%;*/
    aspect-ratio: var(--aspect-ratio);
    margin: var(--margin);
    overflow: var(--overflow);
}
.text-icon-container{
    position: var(--position);
    background: var(--background-color);
    background-position: var(--background-position);
    background-repeat: var(--background-repeat);
    border-radius: var(--border-radius);
    width: var(--width);
    /*height: 100%;*/
    aspect-ratio: var(--aspect-ratio);
    margin: var(--margin);
    overflow: var(--overflow);
}
.link-icon-container{
    position: var(--position);
    background: var(--background-color);
    background-position: var(--background-position);
    background-repeat: var(--background-repeat);
    border-radius: var(--border-radius);
    width: var(--width);
    /*height: 100%;*/
    aspect-ratio: var(--aspect-ratio);
    margin: var(--margin);
    overflow: var(--overflow);
}
.audio-icon-container{
    position: var(--position);
    background: var(--background-color);
    background-position: var(--background-position);
    background-repeat: var(--background-repeat);
    border-radius: var(--border-radius);
    width: var(--width);
    /*height: 100%;*/
    aspect-ratio: var(--aspect-ratio);
    margin: var(--margin);
    overflow: var(--overflow);
}