/* at 1:1 mobile vertical stack */
/* at >1 : 1 tablet "youtube view" */

@media (max-aspect-ratio: 1/1) {
    *{
        --border-radius: 5vw !important;
    }
    body {
      /*background: #9af !important; /* blue */
    }
    #layoutGrid{  
      grid-template-rows: auto auto;
    }
    #mainArticleContainer{
      max-width: 85%;
    }
    #extraArticlesContainer{
      max-width: 85%;
    }
    #selectPublication{
      max-width: 85%;
      font-size: calc(3.2vw + 20px);
  }
  }

@media (min-aspect-ratio: 1/1) {
    *{
        --border-radius: 2vw !important;
    }
    body {
      /*background: #f05 !important; /* blue */
      overflow-y: hidden;
    }
    #layoutGrid{
        grid-template-columns: auto minmax(100px, 40%);
        width: 90%;
        margin: 0 auto 0 auto;
        gap: 2vw;
    }
    #topSpacer{
      display: none;
    }
    #Spacer2{
      display: none;
    }
    #tabletViewGrid{
      display: grid;
      grid-template-rows: auto auto;
      height: 100%;
      width: 100%;
    }
    #mainArticleContainer{
      margin-top: 0%;
    }
    #extraArticlesContainer{
      margin-top: 0%;
      overflow-y: scroll !important;
    }
    #extrasTxt{
      display: none;
    }
    body{
      overflow-y: hidden;
    }
    #selectPublication{
        font-size: calc(1.6vw + 10px);
    }
  }