*{
    --color1: #898989;
    --color2: #474747;
    --timeline-width: 12%;
    --search-bar-height: max(0.5cm, 2rem);
}

#search-bar-container{
    height: var(--search-bar-height);
    margin-top: 1em;
    display: flex;
    position: relative;
    gap: 12px;
    width: 95%;
    margin-inline: 2.5%;
    margin-bottom: 6vh;
}
input{
    position: inherit;
    border: 1px var(--color1) solid;
    background-color: var(--color2);
    border-radius: 1rem;
    font-family: neue-haas-grotesk-display, sans-serif;
    text-indent: 1rem;
    font-size: 1rem;
    font-weight: 100;
    color: white;
    width: 100%;
    height: 100%;
}
input:focus{
    border: 1px #ffffff solid;
    outline: none;
}
#tab-bar{
    border-right: 1px solid var(--color2);
}
#date-btn{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    width: 6rem;
    border: 1px var(--color1) solid;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}
#calender-icon{
    margin-inline: auto;
    display: block;
    height: 66%;
    margin: auto;
}
.archive-publication{
    position: relative;
    /*height: 36vh;*/
    height: auto;
    display: grid;
    /*border-bottom: 1px solid #898989;*/
}
.archive-result{
    position: relative;
    /*height: 36vh;*/
    height: auto;
    display: grid;
    /*border-bottom: 1px solid #898989;*/
}
.archive-thumbnail{
    aspect-ratio: 16/9;
    background-color: wheat;
    border-radius: 20px;
    width: 100%;
    margin: auto;
}
.invis{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/* at 1:1 mobile vertical stack */
@media (max-aspect-ratio: 1/1) {
    .archive-publication{
        grid-template-columns: max(100px, 45%) auto 4vh;
        width: 95%;
        margin: auto;
        padding-top: 3vw;
        padding-bottom: 3vw;
    }
    .archive-result{
        grid-template-columns: max(100px, 45%) auto 4vh;
        width: 95%;
        margin: auto;
        padding-top: 3vw;
        padding-bottom: 3vw;
    }
    .archive-desc{
        margin-left: 3vw;
        padding-top: 1vw;
    }
    .arrow-icon{
        margin: auto;
        height: 2.5vh;
    }   
    h2{
        width: 100%;
        font-family: neue-haas-grotesk-display, sans-serif;
        font-size: max(4vw, 15px);
        font-weight: 600;
        font-style: normal;
        margin-bottom: 0px;
        margin-top: 1px;
        text-align: left;
        white-space: pre-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        line-clamp: 1; 
        -webkit-box-orient: vertical;
    }   
    h3{
        font-family: neue-haas-grotesk-display, sans-serif;
        font-size: max(2vw, 8px);
        font-weight: 300;
        font-style: normal;
        /*font-size: calc(1.2vh + 7px);*/
        text-align: left;
        white-space: pre-wrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        line-clamp: 3; 
        -webkit-box-orient: vertical;
    }
    .result-title{
        color: white;
        font-family: neue-haas-grotesk-display, sans-serif;
        font-size: max(2.7vw, 8px);
        margin-top: 1px;
        font-weight: 500;
        font-style: normal;
        /*font-size: calc(1.2vh + 7px);*/
        text-align: left;
        white-space: pre-wrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2; 
        -webkit-box-orient: vertical;
    }
    .result-desc{
        font-family: neue-haas-grotesk-display, sans-serif;
        font-size: max(2.3vw, 10px);
        font-weight: 300;
        font-style: normal;
        /*font-size: calc(1.2vh + 7px);*/
        margin-top: 2px;
        margin-bottom: 1px;
        text-align: left;
        white-space: pre-wrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        line-clamp: 3; 
        -webkit-box-orient: vertical;
        margin: auto;
        margin-top: 3vh;
        margin-bottom: 1vw;
        color: white;
    }
}

/* at >1 : 1 Ipad view */
@media (min-aspect-ratio: 1/1) {
    #search-bar-container{
        width: calc((100% - var(--tab-bar-dekstop-width)) * 0.95);
        margin-left: calc( 2.5% + var(--tab-bar-dekstop-width));
        margin-right: 2.5%;
    }
    .archive-publication{
        width: 90%;
        margin: auto;
        margin-right: 5%;
        grid-template-columns: max(100px, 50%) auto 8vh;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    .archive-result{
        width: 90%;
        margin: auto;
        margin-right: 5%;
        grid-template-columns: max(100px, 50%) auto 8vh;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    .arrow-icon{
        margin: auto;
        margin-right: 0;
        height: 5vh;
        transition: transform 0.15s;
    }
    .arrow-icon :hover{
        transform: translate(5px, 0);
        transition: transform 0.15s;
    }
    .archive-desc{
        margin-left: 3vw;
        padding-top: 1vw;
        padding-bottom: auto;
        width: calc( 100% - 3vw);
        height: 100%;
    } 
    h2{
        width: 100%;
        font-family: neue-haas-grotesk-display, sans-serif;
        font-size: max(2.2vw, 20px);
        font-weight: 600;
        font-style: normal;
        margin-top: 2px;
        margin-bottom: 0px;
        text-align: left;
        white-space: pre-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        line-clamp: 1; 
        -webkit-box-orient: vertical;
    }
    h3{
        font-family: neue-haas-grotesk-display, sans-serif;
        font-size: max(1.25vw, 10px);
        font-weight: 300;
        font-style: normal;
        /*font-size: calc(1.2vh + 7px);*/
        margin-top: 2px;
        margin-bottom: 1px;
        text-align: left;
        white-space: pre-wrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        line-clamp: 3; 
        -webkit-box-orient: vertical;
        margin: auto;
        margin-top: 3vh;
        margin-bottom: 1vw;
    }
    .result-title{
        color: white;
        font-family: neue-haas-grotesk-display, sans-serif;
        font-size: max(1.5vw, 8px);
        margin-top: 1px;
        font-weight: 500;
        font-style: normal;
        /*font-size: calc(1.2vh + 7px);*/
        text-align: left;
        white-space: pre-wrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2; 
        -webkit-box-orient: vertical;
    }
    .result-desc{
        font-family: neue-haas-grotesk-display, sans-serif;
        font-size: max(1.25vw, 10px);
        font-weight: 300;
        font-style: normal;
        /*font-size: calc(1.2vh + 7px);*/
        margin-top: 2px;
        margin-bottom: 1px;
        text-align: left;
        white-space: pre-wrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        line-clamp: 3; 
        -webkit-box-orient: vertical;
        margin: auto;
        margin-top: 3vh;
        margin-bottom: 1vw;
        color: white;
    }
}

/* at >1 : 1 Desktop view */
@media (min-aspect-ratio: 3/2) {
    #date-btn{
        display: none !important;
    }
    #timeline{
        border-radius: 0 1rem 1rem 0;
        position: fixed;
        top: 50%;
        transform: translate(0, -50%);
        width: var(--timeline-width);
        height: 200px;
        background-color: var(--color2);
    }
    .archive-publication{
        width: calc(80% - var(--timeline-width));
        margin: auto;
        margin-right: 10%;
    }
    .archive-result{
        width: calc(80% - var(--timeline-width));
        margin: auto;
        margin-right: 10%;
    }
    h3{
        font-size: max(1vw, 10px);
    }
}