:root{
    --border-radius: min(8vw,8vw);
    --bgColor: rgb(255, 255, 255);
    --bsmd: 3;
    --boxShadowMini:
        0px calc(-2.6px/var(--bsmd)) calc(4.7px/var(--bsmd)) rgba(255, 255, 255, 0.037),
        0px calc(-7.6px/var(--bsmd)) calc(9.5px/var(--bsmd)) rgba(255, 255, 255, 0.044),
        0px calc(-16.1px/var(--bsmd)) calc(15px/var(--bsmd)) rgba(255, 255, 255, 0.046),
        0px calc(-30.5px/var(--bsmd)) calc(22.4px/var(--bsmd)) rgba(255, 255, 255, 0.048),
        0px calc(-56px/var(--bsmd)) calc(35.8px/var(--bsmd)) rgba(255, 255, 255, 0.054),
        0px calc(-100px/var(--bsmd)) calc(80px/var(--bsmd)) rgba(255, 255, 255, 0.07),
        
        0px calc(2.6px/var(--bsmd)) calc(4.7px/var(--bsmd)) rgba(0, 0, 0, 0.037),
        0px calc(7.6px/var(--bsmd)) calc(9.5px/var(--bsmd)) rgba(0, 0, 0, 0.044),
        0px calc(16.1px/var(--bsmd)) calc(15px/var(--bsmd)) rgba(0, 0, 0, 0.046),
        0px calc(30.5px/var(--bsmd)) calc(22.4px/var(--bsmd)) rgba(0, 0, 0, 0.048),
        0px calc(56px/var(--bsmd)) calc(35.8px/var(--bsmd)) rgba(0, 0, 0, 0.054),
        0px calc(100px/var(--bsmd)) calc(80px/var(--bsmd)) rgba(0, 0, 0, 0.07);
    --tab-bar-height: max(6.5vh, 40px);
}
body{
    margin: 0;
    background-color: var(--bgColor);
}
h2{
    width: 100%;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: max(4vw, 15px);
    font-weight: 600;
    font-style: normal;
    margin-bottom: 0px;
    text-align: left;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2; 
    -webkit-box-orient: vertical;
}   
h3{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: max(3.5vw, 13px);
    font-weight: 300;
    font-style: normal;
    /*font-size: calc(1.2vh + 7px);*/
    margin-top: 5px;
    margin-bottom: 3px;
    text-align: left;
    white-space: pre-wrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1; 
    -webkit-box-orient: vertical;
}
#tab-bar{
    position: fixed;
    bottom: 0%;
    left: 0%;
    margin-bottom: 0%;
    height: var(--tab-bar-height);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    z-index: 1000;
    background: rgba(34, 34, 34, 0.785);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);   
}
.tab-bar-icon-container{
    position: relative;
    height: 100%;
    width: 100%;
}
.tab-bar-icon{
    position: absolute;
    left: 50%;
    height: calc(var(--tab-bar-height) * 0.65);
    margin-top: calc(var(--tab-bar-height) * 0.04);
    transform: translate(-50%, 0%);
    margin-inline: auto;
}
.wide-icon{
    height: calc(var(--tab-bar-height) * 0.7) !important;
    margin-top: calc(var(--tab-bar-height) * 0.017);
}
.tab-bar-text{
    font-family: SF-Compact-Rounded-Regular, urbane-rounded, sans-serif;
    font-weight: 500;
    font-size: max(10px, 1.2vh);
    font-style: normal;
    letter-spacing: .06rem;
    color: white;
    position: absolute;
    left: 50%;
    bottom: 4%;
    transform: translate(-50%,0);
    text-align: center;
}
.main-article{
    width: 100%;
}
.main-thumbnail{
    width: 100%;
    aspect-ratio: 16/9;
    background-image: url("https://img.youtube.com/vi/e-CEd6xrRQc/maxresdefault.jpg");
    border-radius: 0;
    border-radius: 0 0 10vw 10vw;
    background-repeat: no-repeat;
    background-size: cover;
    /*box-shadow: var(--boxShadowMini);*/
}
.WB-button{
    display: flex;
    width: fit-content;
    margin-inline: auto;
    background-color: black;
    padding: 2vw;
    border-radius: 10vw;
    /*transform: translate(0, -50%);*/
    position: absolute;
    left: 50%;
    top: calc(100vw * (9/16));
    transform: translate(-50%, -50%);
    /*box-shadow: var(--boxShadowMini);*/
}
.WB-button-play-icon{
    display: inline;
    width: 9vw;
    margin: auto;
    padding-inline: 0.5vw;
}
.WB-button-text{
    display: inline;
    color: white;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: max(5vw, 15px);
    font-weight: 600;
    margin-inline: 3vw;
    letter-spacing: 0.1vw;
    margin-top: auto;
    margin-bottom: auto;
    font-style: normal;
    text-align: center;
    white-space: nowrap;
}
.main-article-desc{
    position: relative;
    margin: auto;
    margin-top: 10vw;
    margin-bottom: 10vw;
    width: 90%;
    display: grid;
    grid-template-columns: 85% 15%;
}
.main-article-share-button{
    width: 60%;
    margin-inline: auto;
}
.main-article-title{
    margin-top: 0;
}
.article{
    position: relative;
    width: 93%;
    margin-inline: auto;
    margin-top: 5%;
    background-color: white;
    box-shadow: var(--boxShadowMini);
    border-radius: var(--border-radius);
    overflow: hidden;
    display: grid;
    grid-template-columns: 60% 40%;
}
.thumbnail{
    width: 100%;
    border-radius: var(--border-radius);
    aspect-ratio: 4/3.5;
    background-color: black;
}
.description{
    position: relative;
    width: auto;
    margin: 0 3vw 0 3vw;
}
.share-button{
    width: 8vw;
    position: absolute;
    right: 3vw;
    bottom: 3vw;
    scale: 1;
    transition: scale 0.05s;
}
.share-button-pressed{
    scale: 0.7;
    transition: scale 0.25s;
}
#spacer{
    width: 100%;
    height: 15vh;
}